{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url "group-list" %}">Lists</a></li>
        <li><a href="{% url "group-detail" pk=object.pk %}">{{ object.name }}</a></li>
        <li><a href="{% url "transaction-create" pk=object.pk %}">Transaction type</a></li>
        <li class="active">Custom</li>
    </ol>
    <h1>New custom transaction</h1>
    <p>
        Enter any custom balance adjustment.

    </p>
    <form method="post" action="{% url "transaction-create-custom" pk=object.pk %}" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" horizontal_label_class="col-sm-2" horizontal_field_class="col-sm-10" %}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <h3>Entries</h3>
            </div>
        </div>
        {% bootstrap_formset formset layout="horizontal" horizontal_label_class="col-sm-2" horizontal_field_class="col-sm-10" %}
        {#        {{ formset.as_div }}#}
        {#        {{ formset.errors }}#}
        {#        {{ formset.non_form_errors }}#}
        <button type="submit" class="btn btn-default">Save</button>
    </form>
{% endblock %}