{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url "group-list" %}">Lists</a></li>
        <li><a href="{% url "group-detail" pk=object.pk %}">{{ object.name }}</a></li>
        <li class="active">Transaction type</li>
    </ol>
    <h1>Choose transaction type</h1>

    <div class="panel panel-primary position-relative">
        <div class="panel-heading">
            <h3 class="panel-title">Expense or income</h3>
        </div>
        <div class="panel-body">
            <p>Divide a payment or income over the group.</p>
            <a href="{% url "transaction-create-expense" pk=object.pk %}" class="btn btn-primary stretched-link">Choose</a>
        </div>
    </div>
    <div class="panel panel-success position-relative">
        <div class="panel-heading">
            <h3 class="panel-title">Settle</h3>
        </div>
        <div class="panel-body">
            <p>Settle a negative balance with other group members.</p>
            <a href="{% url "transaction-create-settle" pk=object.pk %}" class="btn btn-success stretched-link">Choose</a>
        </div>
    </div>
    <div class="panel panel-default position-relative">
        <div class="panel-heading">
            <h3 class="panel-title">Custom</h3>
        </div>
        <div class="panel-body">
            <p>Enter custom balance adjustments.</p>
            <a href="{% url "transaction-create-custom" pk=object.pk %}" class="btn btn-default stretched-link">Choose</a>
        </div>
    </div>
{% endblock %}
