/* Used by Alpine.js to prevent page load flicker. */
[x-cloak] { display: none !important; }


.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

/*
The older version of normalize.css included in Bootstrap removes the details/summary dropdown.
 */
details {
  display: block;
}
summary {
  display: list-item;
  cursor: default;
}
