{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Splitzie</title>
    <!-- HTMX needs to load before htmx script in the body, so should not have defer (or we should change the body script). -->
    <script src="{% static 'vendor/htmx.min.js' %}"></script>
    <!-- Our custom JS needs to be before Alpine. -->
    <script defer src="{% static 'splitzie.js' %}"></script>
    <script defer src="{% static 'vendor/alpine.min.js' %}"></script>
    <link href="{% static 'splitzie.css' %}" rel="stylesheet">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="container">
    <h1>
        <a href="{% url 'index' %}" hx-boost="true">Splitzie [Alpha]</a>
        <small>– <a href="{% url 'help' %}" hx-boost="true">Help</a></small>
    </h1>
    {% block content %}{% endblock %}
</div>
</body>
</html>
