{% extends 'splitzie/base.html' %}

{% block content %}
    {% include 'splitzie/snippets/group_back.html' %}

    <form method="post"
          action="{% url 'expense-create' code=group.code %}"
          hx-boost="true"
          hx-encoding="multipart/form-data"
          enctype="multipart/form-data"
          class="form-horizontal"
          x-data="{
              type: 'expense',
              amount: '',
              amounts: {
                  {% for p in group.participants.all %}{{ p.pk }}: '0.00',{% endfor %}
              },
              divider: new Divider([{% for p in participants_shuffle %}{{ p.pk }},{% endfor %}]),
          }"
          x-init="
              $watch('divider', (d) => {
                  for (const [id, amount] of Object.entries(d.getDivision())) {
                      amounts[id] = amount.toFixed(2);
                  }
              });
              $watch('amount', (a) => divider.setAmount(a));
          ">
        {% csrf_token %}
        <h2 x-text="type === 'expense' ? 'Expense details' : 'Income details'">Expense details</h2>

        <div class="form-group">
            <label class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="type" value="expense" checked x-model="type"> Expense
                </label>
                <label class="radio-inline">
                    <input type="radio" name="type" value="income" x-model="type"> Income
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="amountField" class="col-sm-2 control-label">Amount</label>
            <div class="col-sm-4">
                <input type="number"
                       name="amount"
                       step="0.01"
                       max="99999.99"
                       min="0.00"
                       id="amountField"
                       class="form-control"
                       placeholder="0.00"
                       autofocus
                       x-model="amount"
                        {#                       @input=""#}
                       required
                       onchange="this.value = this.valueAsNumber.toFixed(2);">
            </div>
        </div>

        <div class="form-group">
            <label for="payerSelect"
                   class="col-sm-2 control-label"
                   x-text="type === 'expense' ? 'Payer' : 'Recipient'">
                Payer
            </label>
            <div class="col-sm-4">
                <select name="payer"
                        id="payerSelect"
                        class="form-control">
                    {% for participant in group.participants.all %}
                        <option value="{{ participant.pk }}">{{ participant.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="descriptionField" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input type="text" name="description" maxlength="150" required class="form-control"
                       id="descriptionField">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="fileField">Receipt photo or screenshot (optional)</label>
            <div class="col-sm-10">
                <input type="file" name="image" accept="image/*" id="fileField">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <h3>Division</h3>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button"
                        class="btn btn-default"
                        @click="{% for p in group.participants.all %}divider.setEntityDivision({{ p.pk }}, 1);{% endfor %}">
                    Everyone 1×
                </button>
            </div>
        </div>

        {% for p in group.participants.all %}
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 control-label" for="participantInput{{ p.pk }}">
                    {{ p.name }}
                </label>
                <div class="col-xs-6 col-sm-4">
                    <input type="number"
                           name="participant-{{ p.pk }}"
                           step="0.01"
                           max="99999.99"
                           min="-99999.99"
                           @input="divider.setEntityDivision({{ p.pk }}, undefined); divider.setEntityAmount({{ p.pk }}, $el.valueAsNumber);"
                           value="0.00"
                           x-model="amounts[{{ p.pk }}]"
                           id="participantInput{{ p.pk }}"
                           class="form-control">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default"
                                    @click="divider.incrementDivision({{ p.pk }}, -1)">
                                <strong>-</strong>
                                <span class="sr-only">Minus</span>
                            </button>
                        </div>
                        <div class="input-group-addon"
                             x-text="divider.getEntity({{ p.pk }}).division !== undefined ? divider.getEntity({{ p.pk }}).division + '×' : ''"></div>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-default"
                                    @click="divider.incrementDivision({{ p.pk }}, 1)">
                                <strong>+</strong>
                                <span class="sr-only">Plus</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

{% endblock %}
