{% extends 'splitzie/base.html' %}
{% load currency i18n %}

{% block content %}
    {% include 'splitzie/snippets/group_back.html' %}

    <h2>{% translate 'Balances' %}</h2>
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <ul class="list-group">
                {% for p in group.participants.all %}
                    <li class="list-group-item" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                        <span>{{ p.name }}</span>
                        <strong class="pull-right text-{% if p.balance < 0 %}danger{% else %}success{% endif %}">
                            {{ p.balance|euro }}
                        </strong>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div x-data="{debtor: '', creditor: '', amount: ''}"
         x-init="$watch('debtor', (value, oldValue) => {
            if (creditor === value) {
                creditor = oldValue;
            }
         });">
        <h2>{% translate 'Settle' %}</h2>
        <p>
            {% blocktrans trimmed %}
                Here's a way to settle the balances.
                Tap an item to fill it in the form below.
            {% endblocktrans %}
        </p>
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="list-group">
                    {% for move in group.get_moves %}
                        <button type="button"
                                @click="debtor = '{{ move.source.pk }}';
                                    creditor = '{{ move.target.pk }}';
                                    amount = '{{ move.amount|stringformat:".2f" }}';"
                                class="list-group-item">
                            {% blocktrans trimmed with src=move.source.name target=move.target.name amount=move.amount|euro %}
                                <strong>{{ src }}</strong>
                                pays
                                <strong>{{ amount }}</strong>
                                to
                                <strong>{{ target }}</strong>
                            {% endblocktrans %}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>

        <h3>{% translate 'Enter repay' %}</h3>
        <p>
            {% translate 'Enter any repayments made using this form.' %}
        </p>

        <form method="post" action="{% url 'group-settle' code=group.code %}"
              class="form-inline"
              hx-boost="true"
              hx-push-url="false">
            {% csrf_token %}
            <div class="form-group">
                <label for="debtorSelect" class="sr-only">Repay from</label>
                <select name="debtor"
                        required
                        x-model="debtor"
                        class="form-control"
                        id="debtorSelect">
                    {% for p in group.participants.all %}
                        <option value="{{ p.pk }}"
                                {% if forloop.counter == 1 %}selected x-init="debtor = '{{ p.pk }}'"{% endif %}>
                            {{ p.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="amountField">repaid <span class="sr-only">amount</span></label>
                <input type="number"
                       step="0.01"
                       id="amountField"
                       class="form-control"
                       required
                       placeholder="0.00"
                       min="0.01"
                       max="99999.99"
                       x-model="amount"
                       name="amount">
            </div>
            <div class="form-group">
                <label for="creditorSelect"><span class="sr-only">repay</span> to</label>
                <select name="creditor"
                        x-model="creditor"
                        class="form-control"
                        id="creditorSelect"
                        required>
                    {% for p in group.participants.all %}
                        <option value="{{ p.pk }}"
                                :disabled="debtor === '{{ p.pk }}'"
                                {% if forloop.counter == 2 %}selected x-init="creditor = '{{ p.pk }}'"{% endif %}>
                            {{ p.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">{% translate 'Confirm' %}</button>
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.target.errors }}
            {{ form.amount.errors }}
        </form>
    </div>

{% endblock %}
