{% extends "splitzie/base.html" %}
{% load i18n %}

{% block content %}
    {% include 'splitzie/snippets/group_back.html' %}

    <form method="post" action="{% url 'group-edit' code=group.code %}" hx-boost="true">
        {% csrf_token %}
        <div class="form-group">
            <label for="nameInput">{% translate 'Group name' %}</label>
            <input type="text" maxlength="150" name="name" value="{{ group.name }}" autocomplete="off"
                   class="form-control" id="nameInput">
        </div>
        <button type="submit" name="form" value="name" class="btn btn-primary">{% translate 'Save' %}</button>
        {% if request.POST.form == 'name' %}<em>{% translate 'Saved' %}</em>{% endif %}
    </form>

    <hr>
    <h2 id="participants">{% translate 'Participants' %}</h2>
    <ul class="list-group">
        {% for participant in group.participants.all %}
            <li class="list-group-item">
                {{ participant.name }}
                {% if not participant.entries.exists and not participant.expenses.exists %}
                    <form method="post" action="{% url 'group-edit' code=group.code %}" hx-boost="true"
                          hx-swap="show:none" style="display: inline-block;" class="pull-right">
                        {% csrf_token %}
                        <input type="hidden" name="participant" value="{{ participant.pk }}">
                        <button type="submit" name="form" value="participant-delete" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                            {% translate 'Remove' %}
                        </button>
                    </form>
                {% endif %}
            </li>

        {% endfor %}
    </ul>
    <form method="post" action="{% url 'group-edit' code=group.code %}" hx-boost="true" hx-swap="show:none">
        {% csrf_token %}
        <div class="form-group">
            <label for="newParticipantInput">{% translate 'Add participant' %}</label>
            <input type="text" maxlength="150" name="name" required
                   {% if request.POST.form == 'participant-create' %}autofocus{% endif %}
                   id="newParticipantInput" class="form-control" autocomplete="off">
        </div>
        <button type="submit" name="form" value="participant-create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {% translate 'Add' %}
        </button>
    </form>

    <hr>
    <h2 id="emails">{% translate 'E-mails' %}</h2>
    <p>
        {% blocktrans trimmed %}
            Linked e-mails receive a notification when a payment was added.
            They can also be used to recover access to the group page when the URL is lost.
        {% endblocktrans %}
    </p>
    <ul class="list-group">
        {% for email in group.emails.all %}
            <li class="list-group-item">
                {{ email.email }}
                <small class="text-muted">{% translate 'Language' %}: {{ email.get_language_display }}</small>
                <form method="post" action="{% url 'group-edit' code=group.code %}" hx-boost="true" hx-swap="show:none"
                      class="pull-right">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{ email.pk }}">
                    <button type="submit" name="form" value="email-delete" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                        {% translate 'Remove' %}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form method="post"
          action="{% url 'group-edit' code=group.code %}"
          hx-boost="true"
          hx-swap="show:none">
        {% csrf_token %}
        <div class="form-group">
            <label for="emailField">{% translate 'Add e-mail address' %}</label>
            <input type="email"
                   maxlength="150"
                   name="email"
                   placeholder="mail@example.com"
                   required
                   autocomplete="off"
                   id="emailField"
                   class="form-control">
        </div>
        <button type="submit" name="form" value="email-create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {% translate 'Add' %}
        </button>
    </form>

    <hr>
    <h2>{% translate 'Share' %}</h2>
    <p>
        {% translate 'To share this group with someone, send them the group URL or let them scan the QR code.' %}
    </p>
    <div class="form-group">
        <label for="groupUrlField">{% translate 'Group URL' %}</label>
        <div class="input-group">
            {# @formatter:off #}
            <input type="text"
                   readonly
                   class="form-control" id="groupUrlField"
                   value="{% include 'splitzie/snippets/base_url.html' %}{% url 'group' code=group.code %}">
            {# @formatter:on #}
            <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        onclick="navigator.clipboard.writeText('{% include 'splitzie/snippets/base_url.html' %}'+
                                '{% url 'group' code=group.code %}').then(() => {
                                this.textContent = '{% translate 'Copied' %}';
                                setTimeout(() => {this.textContent = '{% translate 'Copy' %}'}, 5000);
                                },
                                () => {
                                this.textContent = '{% translate 'Could not copy' %}'
                                setTimeout(() => {this.textContent = '{% translate 'Copy' %}'}, 5000);
                                });">
                    {% translate 'Copy' %}
                </button>
            </span>
        </div>
    </div>
    <img src="{{ qr_png_uri }}"
         alt="Image showing a QR code for the group URL"
         class="img-responsive img-thumbnail center-block">

{% endblock %}
