{% extends "splitzie/base.html" %}
{% load currency %}

{% block content %}
    <h1 x-init="$store.groups.add('{{ group.code }}', '{{ group.name|escapejs }}')">{{ group.name }}</h1>
    <p class="lead text-muted">
        {% if not group.participants.exists %}
            No participants yet
        {% else %}
            {{ group.participants.all|join:", " }}
        {% endif %}
    </p>

    <p>
    <a href="{% url 'group-settle' code=group.code %}" hx-boost="true" class="btn btn-default">
        <span class="glyphicon glyphicon-euro"></span>
        Settle
    </a>
    <a href="{% url 'group-edit' code=group.code %}" hx-boost="true" class="btn btn-default">
        <span class="glyphicon glyphicon-edit"></span>
        Group info
    </a>

    </p>

    {% if not group.emails.exists %}
        <div class="alert alert-warning">
            There are no e-mail addresses linked to this group.
            We recommend <a href="{% url 'group-edit' code=group.code %}#emails" hx-boost="true">linking</a>
            at least one,
            so it can be used to recover access to the group.
        </div>
    {% endif %}

    <h2>Payments</h2>
    <a href="{% url 'expense-create' code=group.code %}" hx-boost="true"
       class="btn btn-primary {% if group.participants.count < 2 %}disabled{% endif %}">
        <span class="glyphicon glyphicon-plus"></span>
        New
    </a>
    {% if group.participants.count < 2 %}
        <span>To add your first expense, add at least two participants to the group</span>
    {% endif %}

    <ul>
        {% for p in group.payments.all %}
            {% if p.type == "expense" %}
                {% with e=p.expense %}
                    <li>
                        <div>
                            <a href="{{ e.get_absolute_url }}" hx-boost="true">
                                {{ e.created_at|date:"SHORT_DATE_FORMAT" }}:
                                {{ e.abs_amount|euro }} {% if e.is_expense %}paid{% else %}received{% endif %}
                                by {{ e.payer }}
                            </a>
                        </div>
                        <div>{{ e.description }}</div>
                    </li>
                {% endwith %}
            {% elif p.type == "settle" %}
                {% with t=p.get_transfer %}
                    <li>
                        {{ p.created_at|date:"SHORT_DATE_FORMAT" }}:
                        {{ t.0.name }} repaid {{ t.2|euro }} to {{ t.1.name }}
                    </li>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>
    {% if not group.payments.exists %}
        <p class="text-muted">No payments yet</p>
    {% endif %}
{% endblock %}
