{% extends "splitzie/base.html" %}
{% load currency i18n %}

{% block content %}
    <h1 x-init="$store.groups.add('{{ group.code }}', '{{ group.name|escapejs }}')">{{ group.name }}</h1>
    <p class="lead text-muted">
        {% if not group.participants.exists %}
            {% translate 'No participants yet' %}
        {% else %}
            {{ group.participants.all|join:", " }}
        {% endif %}
    </p>

    <p>
        <a href="{% url 'expense-create' code=group.code %}"
           hx-boost="true"
           class="btn btn-primary {% if group.participants.count < 2 %}disabled{% endif %}">
            <span class="glyphicon glyphicon-plus"></span>
            {% translate 'New payment' %}
        </a>

        <a href="{% url 'group-settle' code=group.code %}" hx-boost="true" class="btn btn-default">
            <span class="glyphicon glyphicon-euro"></span>
            {% translate 'Settle' %}
        </a>
        <a href="{% url 'group-edit' code=group.code %}" hx-boost="true" class="btn btn-default">
            <span class="glyphicon glyphicon-edit"></span>
            {% translate 'Group info' %}
        </a>
    </p>

    {% url 'group-edit' code=group.code as group_edit_url %}
    {% if group.participants.count < 2 %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>
            {% blocktrans trimmed %}
                To create a payment, first
                <a href="{{ group_edit_url }}#participants" hx-boost="true" class="alert-link">add</a>
                at least two participants to the group.
            {% endblocktrans %}
        </div>
    {% endif %}

    {% if not group.emails.exists %}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {% blocktrans trimmed %}
                There are no e-mail addresses linked to this group. We recommend
                <a href="{{ group_edit_url }}#emails" hx-boost="true" class="alert-link">linking</a>
                at least one, so it can be used to recover access to the group.
            {% endblocktrans %}
        </div>
    {% endif %}

    <h2>{% translate "Payments" %}</h2>

    <p style="margin-bottom: 20px;">{# Same margin as list-group #}
        <a href="{% url 'group-table' code=group.code %}"
           class="btn btn-default"
           hx-boost="true">
            <span class="glyphicon glyphicon-th"></span>
            {% translate 'Table view' %}
        </a>
    </p>

    {% regroup group.payments.all by created_at|date:'F Y' as payments %}

    {% for month, payment_list in payments %}
    <h4>{{ month|capfirst }}</h4>

    <div class="list-group">
        {% for p in payment_list %}
            {% if p.type == "expense" %}
                {% with e=p.expense %}
                    <a href="{{ e.get_absolute_url }}"
                       class="list-group-item"
                       style="display: flex;"
                       hx-boost="true">
                        <span class="h4" style="margin-right: 15px;">{{ p.created_at.day }}</span>
                        <div>
                            <p class="list-group-item-text">
                                <strong>
                                    {{ e.abs_amount|euro }}
                                    {% if e.is_expense %}{% translate 'paid by' %}{% else %}
                                        {% translate 'received by' %}{% endif %}
                                    {{ e.payer }}
                                </strong>
                            </p>
                            <p class="list-group-item-text">{{ e.description }}</p>
                        </div>
                    </a>
                {% endwith %}
            {% elif p.type == "settle" %}
                {% with t=p.get_transfer %}
                    <span class="list-group-item disabled"
                          style="cursor: default; display: flex;">
                        <span class="h4" style="margin: 0 15px 0 0;">{{ p.created_at.day }}</span>
                        <p class="list-group-item-text">
                            <span class="glyphicon glyphicon-transfer"></span>
                            <strong>
                                {% blocktrans trimmed with debtor=t.0.name creditor=t.1.name amount=t.2|euro %}
                                {{ debtor }} repaid {{ amount }} to {{ creditor }}
                                {% endblocktrans %}
                            </strong>
                        </p>
                    </span>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% if not group.payments.exists %}
        <p class="text-muted">{% translate "No payments yet" %}</p>
    {% endif %}
{% endblock %}
