{% extends "splitzie/base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Splitzie</h1>
    </div>
    <p>
        Easily divide group expenses over all participants.
        No account required.
        Works for any type of expenses, income and settlements between group participants.
    </p>

    <template x-data x-if="Object.keys($store.groups.groups).length > 0">
        <div>
            <h3>Recent groups</h3>
            <div>
                <template x-for="[code, group] in Object.entries($store.groups.groups)">
                    <div class="panel panel-default" style="position: relative;">
                        <div class="panel-body" style="display: flex; align-items: center;">
                            <a :href="'{% url 'group' code="CODE" %}'.replace('CODE', code)"
                               hx-boost="true"
                               x-text="group.name"
                               style="flex-grow: 1;">
                            </a>
                            <button class="btn btn-danger btn-sm"
                                    @click="if (confirm('Are you sure you want to remove this group entry? To add it back later, revisit the group page.')) { $store.groups.remove(code) }">
                                ×
{#                                <span class="glyphicon glyphicon-remove-sign"></span>#}
                                <span class="sr-only">Remove</span>
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>

    <button hx-post="{% url 'group-create' %}" hx-target="body" x-data
            x-text="Object.keys($store.groups.groups).length > 0 ? 'Create new group' : 'Get started'"
            class="btn btn-primary">
        Get started
    </button>

    <h3>Alpha</h3>
    <p>
        This website is in alpha phase. On the roadmap is:
    </p>
    <ul>
        <li>Dutch translations</li>
        <li>Export payments as CSV or Excel</li>
    </ul>
{% endblock %}
