{% extends "splitzie/base.html" %}
{% load i18n %}

{% block content %}
    <div class="page-header"><h1>Splitzie</h1></div>
    <p>{% translate "Easily divide group expenses over all participants. No account needed." %}</p>

    <template x-data x-if="Object.keys($store.groups.groups).length > 0">
        <div x-from-template>
            <h3>{% translate "Recent groups" %}</h3>
            <div>
                <template x-for="[code, group] in Object.entries($store.groups.groups)">
                    <div class="panel panel-default"
                         x-from-template
                         style="position: relative;">
                        <div class="panel-body"
                             style="display: flex; align-items: center;">
                            <a :href="'{% url 'group' code="CODE" %}'.replace('CODE', code)"
                               hx-boost="true"
                               x-text="group.name"
                               style="flex-grow: 1;">
                            </a>
                            <button class="btn btn-danger btn-sm"
                                    @click="
                                        if (confirm('{% translate 'Are you sure you want to remove this group entry? To add it back later, revisit the group page.' %}')) {
                                            store.groups.remove(code)
                                        }">
                                ×
                                <span class="sr-only">{% translate 'Remove' %}</span>
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>

    <form method="post" action="{% url 'group-create' %}" hx-boost="true">
        {% csrf_token %}
        <button type="submit"
                x-data
                x-text="Object.keys($store.groups.groups).length > 0 ? '{% translate 'Create new group' %}' : '{% translate 'Get started' %}'"
                class="btn btn-primary">
            {% translate 'Get started' %}
        </button>
    </form>
{% endblock %}
